<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twilio Message Logs</title>
    <link
            rel="icon"
            href="https://www.twilio.com/assets/icons/twilio-icon.svg"
            type="image/svg+xml"/>
    <link
            rel="stylesheet"
            href="https://unpkg.com/carbon-components-svelte/css/white.css"
    />
{#    {{ encore_entry_link_tags('app') }}#}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
</body>
</html>